<!--chatroom_edit.html -->
{% extends 'layouts/box.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}

<h1>Edit Chat</h1>

<form method="post">
    {% csrf_token %}
    {{ form }}

    <div class="my-4">
    <h2>Members</h2>
    {% for member in chat_group.members.all %}
    <div class="chatroom_members m-4">
        <div class="member_info">
            <img class="avatar" src="{{ member.profile.avatar }}" />
            <div>
                <span class="font-bold">{{ member.profile.name }}</span>
                <span class="username">@{{ member.username }}</span>
            </div>
        </div>

        {% if member != chat_group.admin %}
        <div class="checkbox_container">
            <input type="checkbox" name="remove_members" value="{{ member.id }}" class="remove_member_checkbox" />
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>

    <div class="button_container">
        <button class="update_button" type="submit">Update</button>
        <a href="{% url 'chatroom-delete' chat_group.group_name %}">
            <button type="button">Delete Chatroom</button>
        </a>
    </div>

</form>

{% endblock %}

